@namespace s "library://ns.adobe.com/flex/spark";
@namespace input "dittner.testmyself.deutsch.view.common.input.*";
@namespace list "dittner.testmyself.deutsch.view.common.list.*";
@namespace spinner "dittner.testmyself.deutsch.view.common.spinner.*";

@font-face {
    src: url("/fonts/vantathin.ttf");
    font-family: VantaThin;
    embedAsCFF: true;
}

@font-face {
    src: url("/fonts/DeutschGothic.ttf");
    font-family: DeutschGothic;
    embedAsCFF: true;
}

@font-face {
    src: url("/fonts/Roboto-Light.ttf");
    font-family: RobotoLight;
    embedAsCFF: true;
}

@font-face {
    src: url("/fonts/Roboto-Regular.ttf");
    font-family: Roboto;
    embedAsCFF: true;
}

@font-face {
    src: url("/fonts/Roboto-Bold.ttf");
    font-family: Roboto;
    fontWeight: bold;
    embedAsCFF: true;
}

@font-face {
    src: url("/fonts/RobotoCondensed.ttf");
    font-family: RobotoCond;
    embedAsCFF: true;
}

@font-face {
    src: url("/fonts/RobotoCondensed-Bold.ttf");
    font-family: RobotoCond;
    font-weight: bold;
    embedAsCFF: true;
}

/**************************** MX **************************/

@font-face {
    src: url("/fonts/Roboto-Regular.ttf");
    font-family: RobotoMX;
    embedAsCFF: false;
}

@font-face {
    src: url("/fonts/Roboto-Light.ttf");
    font-family: RobotoLightMX;
    embedAsCFF: false;
}

@font-face {
    src: url("/fonts/Roboto-Bold.ttf");
    font-family: RobotoMX;
    fontWeight: bold;
    embedAsCFF: false;
}

@font-face {
    src: url("/fonts/RobotoCondensed.ttf");
    font-family: RobotoCondMX;
    embedAsCFF: false;
}

@font-face {
    src: url("/fonts/RobotoCondensed-Bold.ttf");
    font-family: RobotoCondMX;
    font-weight: bold;
    embedAsCFF: false;
}

/***********************************************************/

global {
    fontSize: 14px;
    fontFamily: RobotoMX;
    fontWeight: normal;
    contentBackgroundAlpha: 0;
    backgroundColor: 0;
    backgroundAlpha: 0;
}

s|Button {
    fontSize: 14px;
    fontFamily: Roboto;
    fontWeight: normal;
}

s|Label {
    fontSize: 14px;
    fontFamily: Roboto;
    fontWeight: normal;
}

/************************** INPUT **************************/

input|TextInputForm {
    skinClass: ClassReference("dittner.testmyself.deutsch.view.common.input.TextInputFormSkin");
    borderVisible: false;
    focusSkin: ClassReference("mx.core.UIComponent");
    fontFamily: RobotoMX;
    fontSize: 14px;
    color: #333333;
}

/************************** LIST **************************/
list|ListForm {
    skinClass: ClassReference("dittner.testmyself.deutsch.view.common.list.ListFormSkin");
    borderVisible: false;
    focusSkin: ClassReference("mx.core.UIComponent");
    fontFamily: RobotoMX;
    fontSize: 16px;
    color: #333333;
}

/************************** OTHER COMPONENTS **************************/
s|CheckBox {
    skinClass: ClassReference("dittner.testmyself.deutsch.view.common.checkBox.CustomCheckBoxSkin");
}

s|RadioButton {
    skinClass: ClassReference("dittner.testmyself.deutsch.view.common.radioButton.CustomRadioButtonSkin");
}

spinner|CustomSpinner {
    skin-class: ClassReference("dittner.testmyself.deutsch.view.common.spinner.CustomSpinnerSkin");
    fontSize: 14px;
    color: #4e4f61;
    fontFamily: Roboto;
}

s|Button.dropDownBtnStyle {
    skinClass: ClassReference("dittner.testmyself.deutsch.view.dictionary.common.articleList.ListBoxDropDownButtonSkin");
}