@namespace s "library://ns.adobe.com/flex/spark";
@namespace input "de.dittner.testmyself.ui.common.input.*";
@namespace list "de.dittner.testmyself.ui.common.list.*";
@namespace spinner "de.dittner.testmyself.ui.common.spinner.*";
@namespace scroller "de.dittner.testmyself.ui.common.scroller.*";

@font-face {
    src: url("/fonts/DeutschGothic.ttf");
    font-family: DeutschGothic;
    embedAsCFF: true;
}

@font-face {
    src: url("/fonts/OpenSans-Regular.ttf");
    font-family: Basic;
    embedAsCFF: true;
}

@font-face {
    src: url("/fonts/OpenSans-Italic.ttf");
    font-family: Basic;
    fontStyle: italic;
    embedAsCFF: true;
}

@font-face {
    src: url("/fonts/OpenSans-Semibold.ttf");
    font-family: Basic;
    fontWeight: bold;
    embedAsCFF: true;
}

@font-face {
    src: url("/fonts/OpenSans-SemiboldItalic.ttf");
    font-family: Basic;
    fontWeight: bold;
    fontStyle: italic;
    embedAsCFF: true;
}

/**************************** MX **************************/

@font-face {
    src: url("/fonts/OpenSans-Regular.ttf");
    font-family: BasicMX;
    embedAsCFF: false;
}

@font-face {
    src: url("/fonts/OpenSans-Italic.ttf");
    font-family: BasicMX;
    fontStyle: italic;
    embedAsCFF: false;
}

@font-face {
    src: url("/fonts/OpenSans-Semibold.ttf");
    font-family: BasicMX;
    fontWeight: bold;
    embedAsCFF: false;
}

@font-face {
    src: url("/fonts/OpenSans-SemiboldItalic.ttf");
    font-family: BasicMX;
    fontWeight: bold;
    fontStyle: italic;
    embedAsCFF: false;
}

/***********************************************************/

global {
    fontFamily: BasicMX;
    fontWeight: normal;
    contentBackgroundAlpha: 0;
    backgroundColor: 0;
    backgroundAlpha: 0;
    focusedTextSelectionColor: #ffbbb8;
}

s|Button {
    fontFamily: Basic;
    fontWeight: normal;
}

s|Label {
    fontFamily: Basic;
    fontWeight: normal;
}

/************************** INPUT **************************/

input|TextInputForm {
    skinClass: ClassReference("de.dittner.testmyself.ui.common.input.MobileTextInputFormSkin");
    borderVisible: false;
    focusSkin: ClassReference("mx.core.UIComponent");
    fontFamily: BasicMX;
    focusedTextSelectionColor: #ffbbb8;
    color: #333333;
}

s|TextArea {
    contentBackgroundAlpha: 0;
    borderVisible: false;
    skinClass: ClassReference("spark.skins.mobile.StageTextAreaSkin");
    horizontalScrollPolicy: off;
    focusedTextSelectionColor: #ffbbb8;
    fontFamily: Basic;
    color: #333333;
}

input|HistoryTextArea {
    skinClass: ClassReference("spark.skins.mobile.TextAreaSkin");
}

/************************** LIST **************************/
list|ListForm {
    skinClass: ClassReference("de.dittner.testmyself.ui.common.list.ListFormSkin");
    borderVisible: false;
    focusSkin: ClassReference("mx.core.UIComponent");
    fontFamily: BasicMX;
    color: #333333;
}

/************************** SCROLL **************************/
s|Scroller {
    horizontalScrollPolicy: off;
}
scroller|CustomScroller {
    horizontalScrollPolicy: off;
    skinClass: ClassReference("de.dittner.testmyself.ui.common.scroller.CustomScrollerSkin");
}

/************************** OTHER COMPONENTS **************************/

spinner|CustomSpinner {
    skin-class: ClassReference("de.dittner.testmyself.ui.common.spinner.CustomSpinnerSkin");
    color: #4e4f61;
    fontFamily: Basic;
}
